<h2>一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">県名</th>
      <th scope="col">釣り場</th>
    </tr>
  </thead>
  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.prefecture_name %></td>
        <td><%= link_to spot.spot_name, spot_path(spot.id) %></td>
      </tr>
    <% end %>
    <%= paginate @spots %>
  </tbody>
</table>