<h2>一覧</h2>

<table>
  <thead>
    <tr>
      <th>県名</th>
      <th>釣り場</th>
    </tr>
  </thead>
</table>

<tbody>
  <% @spots.each do |spot| %>
    <tr>
      <td><%= spot.prefecture_name %></td>
      <%= link_to spot_path(spot.id) do %>
        <td><%= spot.spot_name %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>