<h2>検索一覧</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがSpotの時 -->
  <% if @range == "Spot" %>
    <tbody>
      <% @spots.each do |spot| %>
        <tr>
          <td><%= spot.prefecture_name %></td>
          <td><%= link_to spot.spot_name, spot_path(spot.id) %></td>
        </tr>
      <% end %>
      <%= link_to "戻る", spots_path %>
    </tbody>
  <% end %>
</table>